* {
    font-family: "JetBrainsMono Nerd Font Bold", "Noto Sans", "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    /* color: #3A3B3C; */


}


window#waybar {
  /* Transparent waybar. Make sure to comment out background-color: and border: */
  background: rgba(0,0,0,0); 
   /* background-color: #1e1e2e; */
   border: 4px solid transparent; 
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#tray,
#pulseaudio,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-updater-improved,
#custom-keybindings,
#custom-cycle_wall,
#mpris,
#network {
	border-radius: 0px;
	margin: 4px 0px;
	padding: 0px 4px;
  color: #3A3B3C;
  /*border: 2px solid #3a3b3c; */
}


#workspaces {
	border-radius: 4px;
	margin: 4px 0px;
	padding: 0px 4px;
  	color: #3A3B3C;
}

#backlight {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-width: 0.6px 0px 0.6px 0px;
}

#battery {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-width: 0.6px 0px 0.6px 0px;
  padding-left: 10px;

}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
	background-color: #f38ba8;
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mpris{
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-width: 0.6px 0px 0.6px 0px;
  padding-left: 10px;
}
#clock {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-radius: 0px 20px 20px 0px;
  border-left: 0px;
  padding-left: 10px;
  padding-right:10px;
  
}

#cpu {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-radius: 20px 0px 0px 20px;
  border-right: 0px;
  padding-left: 10px;
  padding-right:10px;
}

#memory {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-left:0px;
  border-right:0px;
  padding-left: 10px;
  padding-right:10px;
}

#disk {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-radius: 0px 20px 20px 0px;
  border-left: 0px;
  padding-left: 10px;
  padding-right:10px;
}

#tray {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#workspaces button {
	background-color: #1e1e2e;
  color: #89b4fa;
  /* border: 2px solid #3a3b3c; */
  margin-right: 2px;
  border-radius: 4px;
}

#workspaces button.active {
	background-color: #1e1e2e;
  color: #94e2d5;
  border: 0.6px solid #94e2d5;
}

#custom-menu {
	background-color: #f5c2e7;
}

#custom-power {
	background-color: #f38ba8;
  margin-right: 4px;
  font-size: 24px;
  border-radius:20px;
}

#custom-updater {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-left:0px;
  border-right:0px;
  padding-left: 10px;
  padding-right:10px;
}

#custom-updater-improved {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
}

#custom-uptime {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
}

#custom-weather {
	background-color: #cba6f7;
}

#custom-cycle_wall {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-radius: 20px 0px 0px 20px;
  border-right:0px;
  padding-left: 10px;
  padding-right:10px;
}

#custom-vpn_check {
	background-color: #a6e3a1;
}

#custom-cputemp {
  background-color: #86b4fa;
}

#custom-keybindings {
  background-color: #86b4fa;
  font-size: 18px;
}

#pulseaudio {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-left: 0px;
  border-right: 0px;
  padding-left: 10px;
  padding-right:10px;
}

#pulseaudio.bluetooth {
	background-color: #1E1E2E;
}
#pulseaudio.muted {
	background-color: #313244;
	color: #cdd6f4;
}

#network {
	background-color: #1e1e2e;
  color: white;
  border: 0.6px solid #74c7ec;
  border-left:  0px;
  border-right: 0px;
  padding-left: 10px;

}
#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}
